<h1 class="content-subhead">Recent Posts</h1>
<% @posts.each do |post| %>
    
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                
                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                        <%= link_to like_post_path(post), method: :put do %>
                            <img width="48" height="48" alt="Tilo Mitra&#x27;s avatar" class="post-avatar" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAlRAAAAJGQyODNlZDdjLWVmNTYtNDY2ZS04ODYzLWM4MDZlZTQ4ZDQ1Nw.jpg">
                        <% end %>


                        <h2 class="post-title"><%= link_to post.title, post %></h2>

                        <p class="post-meta">
                            Posted <a href="#" class="post-author"><%= time_ago_in_words(post.created_at) %></a> ago <em>Tags</em> <a class="post-category post-category-design" href="#">CSS</a> <a class="post-category post-category-pure" href="#">Pure</a>
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            <%= raw post.body %>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    
<% end %>